html {
  font-size: calc(10px + 2vmin);
}

script,
style,
head {
  display: none;
}

*,
*::after,
*::before {
  display: block;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  color: #212121;
}

nav h1 {
  font-size: 1r.5em;
  font-weight: bold;
}

nav button {
  padding: .5rem 1rem;
  background: transparent;
  border: none;
  border: 2px solid #212121;
  color: #212121;
  outline: none;
  color: #424242;
  font-size: .75rem;
  border-radius: .25rem;
}

nav button:hover {
  color: #6f6f6f;
  border: 2px solid #424242;
  cursor: pointer;
}

header {
  height: 80vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #212121;
  border-bottom: 2px solid #212121;
  margin: 0 3rem;

}

header * {
  margin-top: 1.5rem;
}

header::before {
  content: '';
  width: 10rem;
  height: 6rem;
  border: .2rem solid #212121;
  margin-bottom: -2rem;
  order: -2;
}

header::after {
  content: '';
  width: 6rem;
  height: 3rem;
  border: .2rem solid #212121;
  margin-left: 2rem;
  order: -1;
  background: #fff;
}

header h1 {
  font-size: calc(4rem + 6vw);
  margin: 0;
}

header p {
  font-size: calc(.5rem + 2vw);
  color: #212121;
  line-height: 138%;
  max-width: 32ex;
  text-align: center;
}

video-.focus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
video-.focus iframe {
  width: 100%;
  height: 100%;
}

video-:not(.focus) {
  position: fixed;
  z-index: 1;
  top: 70%;
  right: 5%;
  width: 320px;
  overflow: hidden;
  transition: transform .3s ease-out;
  cursor: move;
  border: 2px solid #212121;
}

video-:not(.focus):hover {
  transform: scale(1.05);
}

video-:not(.focus)::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 50%;
}
video-:not(.focus)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
video-:not(.focus) iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 250%;
  transform: translate(-50%,-50%);
}

pair- {
  position: relative;
  margin-bottom: 3rem;
  cursor: pointer;
}

pair- title- {
  position: absolute;
  bottom: -3rem;
  left: 0;
  color: #212121;
  font-size: .8rem;
  padding: .5rem;
}

pair-:hover title-:not(:empty) {
  border-bottom: 2px solid #424242;
  color: #424242;
}

pair-:hover thumb-:first-of-type {
  transform: scale(1.025);
}

pair-:hover thumb-:last-of-type {
  transform: translateY(5%);
}

pair- thumb-:last-of-type {
  position: absolute;
  width: 38%;
  bottom: -5%;
  right: 5%;
  box-shadow: 0 0 1rem rgba(0,0,0,.1);
}

thumb- {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .2s;
  background-color: #fff;
  border-style: solid;
  border-width: 0;
  border-color: rgba(0,0,0,.1);
}

thumb- div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

thumb- input {
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 1.6vw;
  text-align: center;
  padding: 1rem;
  background: transparent;
  border: 0;
  outline: 0;
}

thumb- input::placeholder {
  color: #212121;
}

thumb- input:hover::placeholder {
  color: #424242;
}

thumb-::after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 50%;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
}

create- {
  display: flex;
  height: 100vh;
}

create- pair- {
  width: 80%;
  margin: auto;
}
